@import "~bootstrap/scss/functions";
@import "../../sass/bootstrap_variables";
@import "~bootstrap/scss/mixins/breakpoints";

.table-block {
	overflow: hidden;
	transition: 0.2s;
	transition-property: opacity, height, margin;
	will-change: opacity, height, margin;
	&.closing {
		height: 0 !important;
		opacity: 0;
		margin-top: 0 !important;
	}
	+ .table-block {
		margin-top: 3rem;
	}
}

.res-table {
	border-radius: $border-radius-sm;
	background-color: $white;
	.res-table__thead {
		@include media-breakpoint-only(xs) {
			display: none;
		}
		.res-table__td,
		.res-table__th {
			padding: .75rem;
			color: inherit;
			border-color: $blue-darker;
		}
	}
	&__tr {
		&.closing {
			.res-table__data {
				height: 0;
				padding: 0;
				opacity: 0;
			}
		}
	}
	.res-table__td,
	.res-table__th {
		vertical-align: middle;
		@include media-breakpoint-only(xs) {
			display: flex;
			align-items: center;
			padding: 0;
			border: 0;
			&::before {
				font-weight: 700;
				display: inline-block;
				content: attr(data-label);
				min-width: 75px;
				padding: .75rem;
				background-color: $blue-darker;
				color: $blue-lighter;
				border-bottom: 1px solid $blue-darker;
			}
		}
		&_head {
			font-size: 1.17rem;
		}
		&_flex {
			@include media-breakpoint-only(xs) {
				display: flex;
			}
		}
	}
	.res-table__td {
		padding: 0;
		@include media-breakpoint-only(xs) {
			&:nth-child(1) {
				&:before {
					border-top: 1px solid $blue-darker;
				}
				.res-table__data {
					border-top: 1px solid $gray-560;
				}
			}
		}
	}
	&__data {
		display: block;
		padding: .75rem;
		position: relative;
		overflow: hidden;
		transition: 0.25s;
		opacity: 1;
		transition-property: height, padding, opacity;
		will-change: height, padding;
		@include media-breakpoint-only(xs) {
			border-bottom: 1px solid $gray-560;
			border-right: 1px solid $gray-560;
			flex-grow: 1;
		}
	}
	&__delete,
	&__edit {
		text-decoration: underline;
		padding-top: 0;
		padding-bottom: 0;
		@include media-breakpoint-only(xs) {
			margin-bottom: -1px;
			margin-top: -1px;
		}
	}
	&__delete {
		color: $red-dark;
		&:hover {
			color: $red;
		}
	}
}

